/* styles.css */

body {
    font-family: Century Gothic, sans-serif;
    background-color: #f6f9fc;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #232f3e; /* AWS blue */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #232f3e; /* AWS blue */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccd6dd; /* AWS light gray */
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #002142; /* AWS orange #ff9900*/
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #002142; /* AWS orange #ff9900*/
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #3D74B5;
}

input[type="submit"]:hover {
    background-color: #e68a00; /* AWS darker orange */
}

.upload {
    border: 0;
    width: 400px;
    font-size: 1.2rem;
    height: 50px;
    font-family: Century Gothic, sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #002142;

    box-shadow:
      inset -2px -2px 3px rgb(0 0 0 / 60%);
    
    display: block;
    margin: 0 auto;
}
  
.upload:hover {
    background-color: #3D74B5;
}

.home_icon {
    width: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.home_icon:hover{
    background-color: #c0bfbf;
}