<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px; /* Adjust height as needed */
        }
        header img {
            width: 150px; /* Adjust width as needed */
            height: auto; /* Maintain aspect ratio */
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ url_for('static', filename='logo3.png') }}" alt="I-Share">
        </header>
        <h2>Create User</h2>
        <form action="{{ url_for('create_user') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Create User">
        </form>
    </div>
</body>
</html>
