<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to the Upload Template</h2>
        <h3>Session: {{session}}</h3>
        <p>Upload your file here:</p>
        <form action="/action_page.php">
            <input type="file" id="myFile" name="filename">
            <input type="submit">
          </form>
    </div>
</body>
</html>
